body {
    padding: 0;
    margin: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f7a0cb #f1f1f1;
    /* Màu hồng cho thanh cuộn */
}

*::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

*::-webkit-scrollbar-thumb {
    background: #f7a0cb;
    /* Color of the thumb */
    border-radius: 20px;
    /* Rounded corners of the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background: #f7a0cb;
    /* Color of the thumb on hover */
}

.main-contaier {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidenav {
    height: 100%;
    width: 250px;
    background-color: #f7a0cb;
    /* Màu hồng */
    padding-top: 15px;
}

.navigation-link {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    /* Màu chữ vẫn giữ trắng */
    display: block;
}

.sidenav a:hover {
    background-color: #f7a0cb;
    /* Màu hồng nhạt hơn khi hover */
    color: #ffffff !important;
    /* Màu chữ vẫn giữ trắng */
}

.sidenav a {
    padding: 10px 15px;
}

.right-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}

.nav-bar {
    background-color: #f7a0cb;
    /* Màu hồng */
    color: #ffffff;
    /* Màu chữ vẫn giữ trắng */
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.nav-actions {
    display: flex;
    gap: 5px;
}

.nav-actions button {
    border: none;
    background: none;
}

.nav-actions a:hover,
.nav-actions button:hover {
    color: rgb(241, 241, 241);
    /* Giữ nguyên màu chữ khi hover */
}

.content {
    padding: 20px;
}